In [1]:
# !pip install InstructorEmbedding

In [1]:
import os; os.chdir('..'); import pandas as pd;

In [2]:
from sentence_transformers import SentenceTransformer
# queries = ['query_1', 'query_2']
# passages = ["样例文档-1", "样例文档-2"] # ["Sample Document-1", "Sample Document-2"]
# instruction = "为这个句子生成表示以用于检索相关文章：" # Generate a representation for this sentence to be used to retrieve related articles

model = SentenceTransformer('thenlper/gte-base')
# q_embeddings = model.encode([instruction+q for q in queries], normalize_embeddings=True)
# p_embeddings = model.encode(passages, normalize_embeddings=True)
# scores = q_embeddings @ p_embeddings.T

/home/ubuntu/GTE_BGE_Embeddings/venv/lib/python3.10/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [3]:
# scores

array([[0.33725056, 0.20507804],
       [0.22591063, 0.3849577 ]], dtype=float32)

In [ ]:
# custom template: "Represent the {domain} {text_type} for {task_objective}:"

In [ ]:
# seed_keyword= "best cat ear headphones"

In [ ]:
# from sklearn.metrics.pairwise import cosine_similarity
# custom_instruction_template= f'Represent the {"Search Keyword"} {"Semantic Similarity"} for seed keyword {seed_keyword}:'
# sentences_a = [[custom_instruction_template,'sony headphones'], 
#                [custom_instruction_template,'headphones aa']]
# sentences_b = [[custom_instruction_template,'amazing headphones'],
#                [custom_instruction_template,'headphones xyx']]
# embeddings_a = model.encode(sentences_a)
# embeddings_b = model.encode(sentences_b)
# similarities = cosine_similarity(embeddings_a,embeddings_b)
# print(similarities)

In [3]:
from sklearn.metrics.pairwise import cosine_similarity

def check_similarity_against(list_of_keywords: list, seed_keyword: str):
    custom_instruction_template= f'Represent the {"Search Keyword"} {"Semantic Similarity"} for removal of nonsense keywords the given seed keyword "{seed_keyword}":'
    custom_instruction_template=f""
    target_sentence= [custom_instruction_template+ i for i in list_of_keywords]
    input_sentence= [custom_instruction_template+ seed_keyword]
    # print(target_sentence); print()
    print(input_sentence)
    embeddings_seed_keyword= model.encode(input_sentence)
    target_embeddings= model.encode(target_sentence)
    similarities = cosine_similarity(embeddings_seed_keyword,target_embeddings)
    for i in range(len(similarities[0])):
        print(
            f'{list_of_keywords[i].replace(",", "")}, {similarities[0][i]}'
        )
        
    return similarities

In [4]:
model.encode(["best cat ear headphones"])

array([[ 0.07028519,  1.2615803 , -0.2941438 , ...,  0.30341113,
        -0.02545273, -0.22335179]], dtype=float32)

In [5]:
# df= pd.read_csv("data/rtings.com-organic.Positions-us-20231010-2023-10-11T09 36 42Z.csv")
df= pd.read_csv("data/keywords__4_.csv")
df

    Index                       Keyword  similarity
0       1  hybrid cars or electric cars        0.97
1       2                 0 hybrid cars        0.96
2       3       electric or hybrid cars        0.96
3       4          hybrid cars and suvs        0.96
4       5               hybrid cars are        0.96
..    ...                           ...         ...
95     96    california law hybrid cars        0.93
96     97               cnn hybrid cars        0.93
97     98              drive hybrid car        0.93
98     99       eu taxonomy hybrid cars        0.93
99    100             ev vs hybrid cars        0.93

[100 rows x 3 columns]

In [6]:
df.head()

   Index                       Keyword  similarity
0      1  hybrid cars or electric cars        0.97
1      2                 0 hybrid cars        0.96
2      3       electric or hybrid cars        0.96
3      4          hybrid cars and suvs        0.96
4      5               hybrid cars are        0.96

In [7]:
list_of_keyword= df.Keyword.values.tolist()
# list_of_keyword

In [8]:
# list_of_keyword= [
#     'headphones a', 
#     'headphones aaa', 
#     'sony headphones', 
#     'habdjhciej', 
# ]

seed_keyword= "Hybrid Cars"
# seed_keyword= "headphones"



similarities= check_similarity_against(list_of_keyword, seed_keyword)

['Hybrid Cars']
hybrid cars or electric cars, 0.883347749710083
0 hybrid cars, 0.8337295651435852
electric or hybrid cars, 0.8906983137130737
hybrid cars and suvs, 0.8896753787994385
hybrid cars are, 0.936488151550293
hybrid cars description, 0.8564268350601196
hybrid on cars, 0.9236012101173401
hybrid vehicle cars, 0.8136695623397827
by hybrid vehicles, 0.8408524990081787
hybrid car details, 0.8406137228012085
hybrid car types, 0.855575442314148
hybrid car what is it, 0.8354556560516357
hybrid cars and trucks, 0.8977823257446289
hybrid cars are a combination of, 0.8472135066986084
hybrid cars are economical, 0.8414874076843262
hybrid cars are electric, 0.8618475198745728
hybrid cars are good for the environment, 0.8285022377967834
hybrid cars ev, 0.7973966598510742
hybrid cars examples, 0.8677791357040405
hybrid cars for sale, 0.8761978149414062
hybrid cars gas and electric, 0.8400440216064453
hybrid cars new, 0.8894404172897339
hybrid cars technology, 0.8626984357833862
hybrid cars types, 0.858261227607727
hybrid cars what are they, 0.8989601731300354
hybrid electric cars, 0.9439968466758728
list of hybrid and electric cars, 0.7789101600646973
list of hybrid cars, 0.8326959013938904
a hybrid car uses, 0.8578541874885559
a hybrid cars, 0.9290361404418945
all hybrid cars, 0.8867672681808472
all hybrid cars and suvs, 0.8384469747543335
by hybrid car, 0.8580231070518494
ev hybrid cars, 0.9217813611030579
gas or hybrid cars, 0.891904354095459
hybrid car driving, 0.8738813400268555
hybrid car has an electric, 0.8369207382202148
hybrid car how it works, 0.818154513835907
hybrid car or gas, 0.837268054485321
hybrid car or truck, 0.8482893705368042
hybrid car variants, 0.8004730343818665
hybrid cars 2021, 0.8066340684890747
hybrid cars a, 0.9417496919631958
hybrid cars all, 0.9038161039352417
hybrid cars and suvs for sale, 0.8238588571548462
hybrid cars are good, 0.8761203289031982
hybrid cars are the future, 0.8529975414276123
hybrid cars automatic, 0.8318709135055542
hybrid cars available, 0.918501615524292
hybrid cars details, 0.8667829036712646
hybrid cars different types, 0.8441773653030396
hybrid cars electric, 0.8713332414627075
hybrid cars electric and gas, 0.8183270692825317
hybrid cars electric and petrol, 0.7732475996017456
hybrid cars engine, 0.8006306886672974
hybrid cars ev and petrol, 0.7599501609802246
hybrid cars facts, 0.8457274436950684
hybrid cars for sale new, 0.8360774517059326
hybrid cars future, 0.8499143123626709
hybrid cars gasoline and electric, 0.8346264362335205
hybrid cars how, 0.8914210200309753
hybrid cars how do they work, 0.8466125726699829
hybrid cars how it works, 0.8318554759025574
hybrid cars information, 0.8629162311553955
hybrid cars models, 0.8701323866844177
hybrid cars new model, 0.8510973453521729
hybrid cars operation, 0.8453946709632874
hybrid cars or suv, 0.8759586215019226
hybrid cars petrol and electric, 0.7878901958465576
hybrid cars petrol or diesel, 0.8398422002792358
hybrid cars popular, 0.8727891445159912
hybrid cars science, 0.8737553358078003
hybrid cars use, 0.8840073347091675
hybrid cars versus electric, 0.870313286781311
hybrid cars vs, 0.8954564332962036
hybrid cars vs ev, 0.8598455786705017
hybrid cars what is, 0.8732867240905762
hybrid cars work, 0.898837685585022
hybrid in cars, 0.9312707781791687
hybrides auto, 0.8244912624359131
in hybrid vehicle, 0.8322157859802246
is hybrid cars electric, 0.8018062114715576
list of us hybrid cars, 0.7752718925476074
of hybrid car, 0.8663274049758911
of hybrid vehicle, 0.833926796913147
the hybrid cars, 0.9349074363708496
to hybrid cars, 0.8989256620407104
www.hybrid car, 0.8691284656524658
10 hybrid cars, 0.8586564660072327
2 types of hybrid cars, 0.8490808010101318
3 hybrid cars, 0.8793651461601257
all wheel drive hybrid cars, 0.8681749105453491
american hybrid cars, 0.8776055574417114
are hybrid cars electric, 0.8185685873031616
buy hybrid cars, 0.8950861692428589
california law hybrid cars, 0.7478281259536743
cnn hybrid cars, 0.7755768299102783
drive hybrid car, 0.8651484847068787
eu taxonomy hybrid cars, 0.7690445184707642
ev vs hybrid cars, 0.845232367515564

In [9]:
df.columns

Index(['Index', 'Keyword', 'similarity'], dtype='object')

In [32]:
df["new_sim"]= pd.Series(
    similarities[0]
)

In [33]:
df[['Keyword', 'Keyword Intents', 'new_sim']].to_csv("data/z.csv", index=False)

In [34]:
new_df= df[['Keyword', 'Keyword Intents', 'new_sim']]

In [41]:
new_df

                           Keyword               Keyword Intents   new_sim
0                              ps5  informational, transactional  0.620837
1                           camera                    commercial  0.664151
2                    xbox series s  informational, transactional  0.555786
3                          blender                  navigational  0.659918
4                            dyson      commercial, navigational  0.550943
...                            ...                           ...       ...
9993  black and decker 18v battery                    commercial  0.392398
9994                         gsync     commercial, informational  0.609679
9996                   jbl airpods   navigational, transactional  0.626888
9997          magic keyboard apple   navigational, transactional  0.442950
9998                gigabyte aorus                 transactional  0.521132

[7056 rows x 3 columns]

In [40]:
new_df.drop_duplicates(inplace=True)

/tmp/ipykernel_22664/2373844780.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df.drop_duplicates(inplace=True)

In [42]:
new_df.to_csv("data/z.csv", index=False)

In [46]:
new_df[new_df.new_sim>0.85]

                    Keyword              Keyword Intents   new_sim
16         beats headphones                   commercial  0.854447
38               headphones                   commercial  1.000000
104    bluetooth headphones                   commercial  0.854062
137                 earbuds                   commercial  0.887383
662               headphone                   commercial  0.915441
742   sennheiser headphones     commercial, navigational  0.856455
2226            head phones                   commercial  0.929743
2227            head phones                   commercial  0.929743
2927       headphones beats                   commercial  0.881724
4291        headphones sony  navigational, transactional  0.853955